.fake-product-purchased {
  pointer-events: none;
  margin: 0;
  height: 100px;
  position: fixed;
  bottom: 40px;
  width: 100%;
  z-index: 2;
  -webkit-transition: all cubic-bezier(.47,1.21,.47,1.21) .3s;
  transition: all cubic-bezier(.47,1.21,.47,1.21) .3s;
}
.fake-product-purchased.text-left {
  left: 40px;
}
.fake-product-purchased.text-right {
  right: 40px;
}
.fake-product-purchased .fake-product-product {
  position: absolute;
  bottom: -35px;
  left: 0;
  visibility: hidden;
  display: block;
  opacity: 0;
  width: 100%;
  max-width: 350px;
  height: 100%;
  display: inline-table;
  padding: 10px;
  -webkit-transition: all cubic-bezier(.47,1.21,.47,1.21) .3s;
  transition: all cubic-bezier(.47,1.21,.47,1.21) .3s;
  box-shadow: 0 0 10px #0000000f;
  border-radius: calc(var(--media-radius) / 2);
}
.fake-product-purchased .fake-product-product.active{
  pointer-events: all;
  opacity: 1;
  bottom: 0;
  visibility: visible;
}
.fake-product-purchased .fake-product-image {
  line-height: 0;
}

.fake-product-purchased .fake-product-product .fake-product-main-title{
  display: flex;
  column-gap: 10px;
}
.fake-product-purchased .fake-product-product > a img {
  width: 80px;
  height: 80px;
  object-fit: contain;
}
.fake-product-product .timing,
.fake-product-purchased .fake-product-product p {
  font-size: 14px;
}
.fake-product-product .title {
  font-size: 16px;
  font-family: var(--font-heading-family);
}
.fake-product-product .fake-product-details p {
  font-family: var(--font-body-family);
  line-height: 1.7;
  display: flex;
  flex-wrap: wrap;
  column-gap: 5px;
}
.fake-product-purchased .fake-product-product .close-button {
  height: 20px;
  position: absolute;
  right: 5px;
  top: 5px;
  text-align: center;
  width: 20px;
  pointer-events: all;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  cursor: pointer;
  border: 0;
  transition: all 0.5s ease;
}
.fake-product-purchased .fake-product-product .close-button svg {
  height: 1em;
  width: 1em;
}
@media screen and (max-width: 1199px) {
  .fake-product-purchased {
    max-width: 325px;
  }
}
@media screen and (max-width: 991px) {
    .fake-product-product .title {
      font-size: 14px;
    }
}
@media screen and (max-width: 767px) {
  .fake-product-purchased.text-left {
    left: 15px;
  }
  .fake-product-purchased.text-right {
    right: 15px;
  }
  .fake-product-purchased {
    bottom: 60px;
  }
  .fake-product-purchased .fake-product-product .close-button {
    height: 15px;
    width: 15px;
  }
  .fake-product-purchased .fake-product-product .close-button svg {
    height: 0.8em;
    width: 0.8em;
  }
}
@media screen and (max-width: 575px) {
  .fake-product-purchased {
    max-width: 290px;
    height: 90px;
  }
  .fake-product-product .timing,
  .fake-product-purchased .fake-product-product p {
    font-size: 12px;
  }
  .fake-product-purchased .fake-product-product>a img {
    width: 70px;
    height: 70px;
  }
}